body{
    margin:0px;
    padding: 0px;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
}
.container
{
    max-width:1000px;
margin-inline: auto;
margin-top: 30px;
margin-bottom: 30px;
}
/* creating margin for top */
.margin-top
{
    padding-top: 30px;
}

/* creating margin for top */
.margin-bottom
{
    padding-bottom: 30px;
}
/* padding left */
.padding-left
{
    padding-left: 20px;
}

.padding-right
{
    padding-right: 20px;
}

/* flex classes */
.d-flex
{
    display: flex;
}
/* center horinzontally*/
.center
{
    margin-inline:auto;
}
/* Justify centering */
.d-center
{
justify-content: center;
}
/* vertical alignment */
.space_between{
    justify-content: space-between;
}
/* space envenly */
.space_evenly
{
    justify-content: space-evenly;
}
/* center */
.align_center
{
    align-items: center;
}
