.filters
{
background-color: white;
height: 70px;
width: 100%;
border:1px solid #DDDDDD;
border-radius:  4px;
display: flex;
align-items: center;

}
.filters button
{
    font-size: 18px;
    background-color: #FF5A5F;
    color:#FFFFFF;
    border: none;
    height: 48px;
    width: 40%;
    border-radius: 4px;  
  

}
.btn-class
{
  width:50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.filters button:hover
{
  opacity: 80%;
}
.locations,
.amenities
{

width:25%;
height: 100%;
}
.locations
{
  border-right:1px solid #DDDDDD;
}
/* creating styles for the title and subtitle for the filters */
.title
{
  font-weight: 600;
}
/* creating styles for subtitle of the filter class */
.sub-title
{
  font-weight: 400;  
  font-size: 14px;
  margin-top: -10px;

}

/* drop-down menu */
.popover{
  display: none;

}
/* formating the li*/
ul li
{
  list-style: none;
}
.locations{

}
/*creating a onhover mouse event  */
.locations:hover > .popover,
.amenities:hover > .popover
{
  display: block;
  background-color:#FAFAFA;
  border:1px solid #DDDDDD;
  border-radius:4px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 999;
}
.d-state
{
margin-top: 15px;
}
/* Display the dropdown menu */
.amenities:hover > .popover{
  display: block;
}

h2{
  margin: 0px;
}
/* creating style sheet for the amentites */

.amenities ul>li
{
padding:10px;
}