.places
{

}
.places-header
{
font-size: 30px;
}
article
{
    width: 350px;
    border:1px solid #FF5A5F;
    border-radius:  4px;
    padding: 20px;
    margin: 20px;
}
article h2
{
    font-size: 30px;
    display: flex;
}